* {  
  box-sizing: border-box;
  margin: 0;
  color: whitesmoke;
}

body, html { height:100%; padding:0; margin:0;}

body {
  background-color: black;
}

.column {
  float: left;
  /* padding: 10px; */
  height: 100%;
  width: 50%;
  /* width: 50vw;  */
  /* width: calc(var(--vw, 1vw) * 50); */
}

.control {
  height: 100%;
  border: 10px solid black;
  border-radius: 25px;
  text-align: center;
  background-color: gray;
  font-weight: bold;
  font-size: 27.4vh;
}

#resetIcon {
  position: absolute;
  height: 16vh;
  width: 16vh;
  top: calc(50% - 8vh);
  left: calc(50% - 8vh);
}